.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background-color: #ffffff;
  width: 100%;
  max-width: 440px;
  border-radius: 1.6rem;
  padding: 2.4rem;
  box-sizing: border-box;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
  font-family: system-ui, -apple-system, sans-serif;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.modalHeader h3 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text);
}

.closeBtn {
  background: none;
  border: none;
  color: var(--theme);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.warningBox {
  background-color: #d4183d15;
  border-radius: 1.2rem;
  padding: 1.6rem;
  display: flex;
  gap: 1.4rem;
  align-items: center;
  margin-bottom: 2.4rem;
}

.warningIcon {
  color: #ef4444; 
  font-size: 2.4rem;
}

.warningText {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.warningText p {
  margin: 0;
  font-size: 1.45rem;
  color: var(--text);
  line-height: 1.4;
}

.modalActions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
}

.cancelBtn {
  background-color: #ffffff;
  border: 0.1rem solid #e5e7eb;
  color: var(--text);
  padding: 1.2rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
}

.cancelBtn:hover {
  background-color: #dedede;
}


.deleteBtn {
  background-color: var(--theme);
  border: 0.1rem solid var(--theme);
  color: #ffffff;
  padding: 1.2rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.2s;
  transition: all .3s ease;
}

.deleteBtn:hover {
  background-color: transparent;
  color: var(--text);
}