@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 10px;
  font-family: 'Inter', sans-serif;
}

:root {
  --text:#0A0A0A;
  --gray:#717182;
  --theme: #030213;
  --green:#00A63E;
  --green-2:#00C950;
  --carrot-clr:#FF6900;
  --carrot-clr-2:#FB2C36;
  --red:#E7000B;
  --blue: #2B7FFF;
  --violet:#AD46FF;
  --pink:#F6339A;
  --blue-2:#615FFF;
  --aqua: #00BBA7;
  --aqua-2: #00B8DB;
  --gold-clr:#F0B100;
  --gray-h-bg:#e9ebefc5;
}

input {
  outline: none;
}